.dashboard__container {
  margin: 5rem 20rem;
  justify-content: center;
  display: flex;
}

.icon_container {
  display: flex;
  margin-top: 4rem;
  cursor: pointer;
  justify-content: center;
}

.dashboard__frag {
  display: block;
}

@media screen and (max-width: 756px) {
  .dashboard__container {
    display: block;
    margin: 0rem;
  }
  .icon_container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    justify-content: start;
  }
}

@media screen and (max-width: 610px) {
}
