.options {
  margin: 50px 0px;
  padding: 0px 20px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.4s;
}

.options--focus {
  border-right: 5px solid #00008b;
}
.option__icon {
  margin-right: 20px;
  width: 15px;
  height: 15px;
  object-fit: cover;
  font-size: 2rem;
}

@media only screen and (max-width: 970px) {
  .option__icon {
    width: 20px;
    height: 20px;
  }
}

.options:hover .option__icon {
  filter: invert(10%) sepia(69%) saturate(4074%) hue-rotate(237deg) brightness(80%) contrast(128%);
}

header {
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

.headers .menu {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  overflow: hidden;
  background-color: #fff;
  justify-content: center;
}

.headers li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  margin: 0rem 0rem 0rem -5rem;
  text-align: center;
  text-decoration: none;
}

.headers .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.headers .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px;
  position: relative;
  user-select: none;
}

.headers .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.headers .menu-icon .navicon:before,
.headers .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.headers .menu-icon .navicon:before {
  top: 5px;
}

.headers .menu-icon .navicon:after {
  top: -5px;
}

.headers .menu-btn {
  display: none;
}

.headers .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.headers .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.headers .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.headers .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.headers .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.headers .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
