.followers {
  display: flex;
  background-color: #f5f4f4;
  margin: 2rem 0rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.following__mail {
  margin: 0rem;
  color: #747474;
}

.follwers__subtext {
  margin: 0rem 1rem;
}
