.post {
  margin: 2rem 0rem;
  padding: 2rem 2rem 0.5rem 2rem;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.post__comment {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 2rem;
  padding-top: 2rem;
}
.comments__image {
  margin-left: 0rem;
}

.post__user {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
}
.post__subtext {
  padding: 0rem;
  display: flex;
}

.post * {
  margin: 0rem !important;
}
.post__author--name {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 8px;
  flex-grow: 1;
}
.descritpion__post {
  margin: 1.5rem 0rem !important;
}

.post__title {
  font-weight: 900;
}
