.input__input-block {
  margin: 0 !important;
}

.input-label {
  margin-bottom: 1rem;
  display: block;
  font: normal normal normal 1.2rem/1.8rem circularStdBook;
  color: #707070;
  font-family: inherit;
}

.input-input::placeholder {
  color: #c9c9c9;
  opacity: 1;
}

.input-input:focus {
  border: 0.1rem solid red;
}

.input__error {
  color: red;
}
