.header__container {
  display: flex;
  padding: 1rem;
  justify-content: left;
  margin: 2rem 0rem;
  font-size: 1.6rem;
}

.header__mobile {
  flex-grow: 1;
}

.header__logo {
  flex-grow: 1;
}
.header__mobile {
  display: none;
}

.header__items {
  display: flex;
  margin: auto 0rem;
}

.header__button {
  border-radius: 0.5rem;
  padding: 1rem;
}

.border-btn {
  border: 2.5px solid black;
}
.sign__out {
  cursor: pointer;
  border: 2.5px solid black;
}

@media screen and (max-width: 600px) {
  .header__container {
    display: flex;
  }
  .header__mobile {
    display: block;
  }

  .header__logo {
    flex-grow: 0;
  }
  .header__items {
    display: none;
  }
}
