.explore {
  font-size: 2rem;
  padding: 2rem;
  font-weight: bold;
}
.explore__container {
  margin: 5rem 20rem;
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 756px) {
  .explore__container {
    display: block;
    margin: 0rem;
  }
}
